<!-- <div *ngFor="let student of students" class="custom-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        ><a href routerLink="/student/{{ student.id }}">{{ student.name }}</a>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ student.birthdate | date }}</p>
    </mat-card-content>
  </mat-card>
</div> -->

<div class="container text-center">
  <div *ngFor="let student of students">
    <div class="col-xs-5 col-lg-4 custom-card">
      <h4>{{ student.name }}</h4>
      <p>Birthday: {{ student.birthdate | date }}</p>
      <button class="student-button" routerLink="/student/{{ student.id }}">More details</button>
    </div>
  </div>
</div>
